.close{
  padding:8px;
  background-color:coral;
  color:white;
  border:none;
  border-radius:5px;
  margin-top:10px;
  cursor:pointer;
}
input:focus-visible{
  outline-color:coral;

}
.div_button{
  display:flex;
  justify-content:space-around;
  width:200px;
}